/* ----------------- General settings ----------------- */

*{
	margin: 0; 
	padding: 0; 
	list-style: none; 
	box-sizing: border-box; 
	font-family: 'PT Sans', sans-serif;
	transition: all 0.1s linear;
}

html {
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

body {
	padding-bottom: 46px;
	height: 100%;
	width: 100%;
	display: inline-block;
}

h1, h2 {
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #000;
}

input, textarea {
	outline-width: 0;
}

.container {
	width: 70%;
	max-width: 1200px;
	position: relative;
	text-align: left;
	min-height: 100%;
	margin: auto;
}

.btn {
	padding: 10px 25px;
	border: 1px solid #000;
	font-size: 16px;
	margin-top: 15px;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-weight: bold;
}

.main {
	background-color: #fad3e4; 
}

.main:hover {
	background-color: #cae9f3; 
}

.sec {
	background-color: #fff; 
}
.sec:hover {
	background-color: #fad3e4; 
}

.msg {
	padding: 15px;
    color: #fff;
    position: absolute;
    top: 200px;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.alert {
	padding: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.errors {
	background-color: #840303;
}

.ok {
	background-color: #196904;
}

.error {
	border: 1px solid #840303;
	background-color: #ffdada;
	padding: 5px;
}

.cf::after {
    content: "";
    clear: both;
    display: table;
}

/* ----------------- Login settings ----------------- */

#bgLogin, #signupForm {
	background: #fff;
	height: 100%;
	width: 100%;
}

#bgLogin:before, #signupForm:before {
	content: "";
	background-color: #cae8ef;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.3;
}

#loginCont {
	width: 600px;
	height: 450px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#formCont {
	max-width: 1200px;
	width: 90%;
	padding: 25px 0;
	background-color: #fff;
	margin: auto;
	position: relative;
	text-align: center;
}

#loginCont img, #formCont img {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
}

#loginCont label, #loginCont input {
	display: inline-block;
	font-size: 16px;
}

#loginCont label {
	margin: 10px 5px 10px 0;
	font-weight: 700;
}

#loginCont input[type=text], #loginCont input[type=password] {
	border: 0;
	border-bottom: 1px solid #333;
	padding-left: 5px;
}

#loginCont input[type=submit], #cadastre {
	display: inline-block;
	margin-top: 25px;
	cursor: pointer;
}

#login {
	margin-top: 75px;
}

#signUp {
	text-align: left;
	margin-top: 25px;
	width: 100%;
}

#moradorForm, .radio, #condoForm, #payment, #payment2 {
	width: 50%;
	margin: auto;
	margin-bottom: 25px;
}

#payment, #payment2 {
	width: 50%;
	display: inline-block;
    float: left;
    padding: 0 50px;
}

#moradorForm label, #moradorForm input, #condoForm label, #condoForm input, #payment input, #payment2 input {
	display: inline-block;
	width: 100%;
}

.blockfield {
	display: inline-block;
	width: 100%;
}

.blockfield.single {
	width: 45%;
	display: inline-block;
}

.blockfield.colLeft {
	float: left;
}

.blockfield.colRight {
	float: right;
}

.radio {
	text-align: center;
}

.radio input[type=radio] {
	margin-right: 8px;
}

#condoForm input[type=checkbox] {
	display: inline-block;
	width: auto;
}

.reg {
	display: inline-block;
	width: 100%;
	margin: 0 !important;
}

.radio span, .reg span {
	display: inline-block;
	margin-right: 25px;
}

.reg span a {
	text-decoration: underline;
	font-weight: bold;
}

.reg span a:hover {
	color: #741d96;
}

#moradorForm .blockfield, #condoForm .blockfield {
	margin-bottom: 25px;
}

#free.cardPlan, #premium.cardPlan {
	width: 100%;
	padding: 25px;
	display: inline-block;
	margin: 25px auto 0;
    float: none;
}

.cardPlan {
	width: 50%;
	padding: 25px;
	float: left;
	display: inline-block;
	margin-top: 25px;
}

.cardPlan:hover {
	background-color: #f5f5f5;
}

.cardPlan .btn {
	margin-top: 25px;
}

.cardPlan .card {
	border: 1px solid black;
	padding: 25px;
}

.cardPlan h2 {
	margin-bottom: 15px;
	font-size: 25px;
}

.selectSign {
	width: 60%;
	margin: auto;
	display: inline-block;
}

.selectSign .cardPlan:hover {
	background-color: #fff;
}

#modalReg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: auto;
	padding: 25px 35px;
	display: none;
}

#modalReg .container {
	background-color: #fff;
	padding: 25px 35px;
	min-height: auto;
}

#modalReg:before {
	position: absolute;
	background-color: #000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.5;
	content: "";
}

#modalReg p, #modalReg h2 {
	margin-bottom: 15px;
	line-height: 20px;
}

.confirmPg h1 {
	margin: 15px 0;
}

.confirmPg a {
	margin-top: 25px;
}

/* ----------------- header settings ----------------- */

nav {
	width: 150px;
    position: fixed;
	min-height: 100vh;
	background: #f5f5f5;
	z-index: 999;
}

nav .options {
	padding-bottom: 9px;
}

nav .options i {
	font-size: 15px;
    display: inline-block;
    float: left;
    margin-top: 4px;
}

nav .options .label {
	display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 0;
}

#logoCms {
	display: block;
	text-align: center;
}

#logoCms img {
	width: 90%;
	padding: 15px;
}

#logoCms {
	display: block;
	text-align: center;
}

#logoCms img {
	width: 150px;
	padding: 15px;
}

.options {
	text-align: left;
	position: relative;
	display: inline-block;
	width: 100%;
}

.options:hover {
	background-color: #ffd4e6;
}

.options a {
	display: block;
	height: 100%;
	color: #000;
	transition: all 0.1s linear;
	padding: 10px 25px;
}

/* Settings */

.bgCont {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	overflow: hidden;
}

input[type=text], input[type=password], input[type=date] {
	width: 180px;
	border: 0;
	border: 1px solid #303030;
	padding: 8px 5px;
}

#dashboardContainer{
    padding-left: 220px;
    width: 90%;
    min-height: 100%;
    position: relative;
    display: inline-block;
    margin: 50px 0 25px;
}
.dashboard-row{
    width: 100%;
    display: inline-block;
    overflow: auto;
    position: relative;
}
.dashboard-row>*{
    height: 100%;
    float: left;
    position: relative;
}
#condoinfo{
    width: 50%;
    position: relative;
}
#condoinfo-picture{
    height: 295px;
}
#sindicoinfo{
    width: 50%;
    position: relative;
    text-align: right;
}
#sindicoinfo-picture{
    display: inline-block;
    width: 150px;
    height: 200px;
}

#sindicoinfo-bio{
    width: 60%;
    padding: 8px;
    text-align: left;
    display: inline-block;
}
#sindicoinfo-bio .bio-row {
    padding: 4px 0;
    border-bottom: 2px #eee solid;
    display: flex;
    flex-direction: row;
}
#sindicoinfo-bio .bio-cell:first-child{
    flex-grow: 1;        
}
.condo-projects{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.condo-projects-options{
    width: 210px;
    text-align: center;
    border: 2px #eee solid;
    border-radius: 5px;
    margin: 0 20px;
}

.condo-projects-options:hover {
    border-color: #444;
    background-color: #fbfbfb;
}

.condo-projects-options a {
    display: block;
    padding: 30px;
}

.condo-projects-options p {
    margin-top: 15px;
}

.condo-projects-options .fa-clipboard{
    color: #3c3c3c;
    font-size: 80px;
    position: relative;
    display: inline-block;
}
.condo-projects-options .fa-check{
    color: #7af456;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: -5px;
}
.condo-projects-options .fa-check:nth-child(2){
    color: #5cc73c;
    right: -15px;
}
.condo-projects-options .fa-pen{
    color: #00b1ff;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    right: -15px;
}
#advertising{
    height: 200px;
    width: 100%;
    padding: 60px;
    text-align: center;
    background: #3c3c3c;
    color: #fff;
}
#advertising h4{
    font-size: 50px;
}

#condoInfo {
    margin-bottom: 50px;
}

#condoinfo #regulamento {
    margin-left: 15px;
}

#condoinfo #regulamento:hover {
    text-decoration: underline;
}

#condoinfo-name {
    margin-top: 15px;
    display: inline-block;
}

/* ----------------- footer settings ----------------- */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #f5f5f5;
	text-align: center;
	color: #303030;
	padding: 15px;
	width: 100%;
}

footer p {
	font-weight: bold;
}

